<div class="exhibitions-grid">
    <div class="exhibitions-grid__sorter">
        <div class="exhibitions-grid__sorter__toolbar">
        @for(sort of sortOptions; track sort.key) {
            <button (click)="updateSort(sort.key)" [ngClass]="{active: sortBy === sort.key}">
                {{ sort.label }}
            </button>
        }
        </div>
    </div>
  @for (exhibition of exhibitions | async; track exhibition.id) {
    <app-exhibition-card-item [exhibition]="exhibition"></app-exhibition-card-item>
  }
    <div class="exhibitions-grid__loadmore" (click)="loadMoreExhibitions()">
      @if( isLoading | async)  {
        <span>Loading ...</span>
      } @else {
        <span>Load More</span>
      }
    </div>
</div>
