@use "../../variables.scss" as *;

.exhibitions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 12px;
  row-gap: 12px;
  &__sorter,
  &__loadmore {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
  }

  &__sorter {
    flex-direction: column;
    align-items: flex-start;
    background-color: #000;
    border-radius: 4px;
    margin: 24px;
    border: 4px dotted $cream;
    h3 {
      color: $cream;
      font-family: "Doto", sans-serif;
      font-weight: 900;
    }
    &__toolbar {
      display: flex;
      gap: 12px;
      flex-direction: column;
    }
  }

  &__loadmore {
    justify-content: center;
    cursor: pointer;
    background-color: $cream;
    color: $red;
    font-family: "Doto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 4px;
    padding: 12px 24px;
    margin: 32px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: darken($cream, 10%);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  }
}
