<table class="exhibitions-table">
    <thead>
      @if(sortBy | async; as sortBy) {
        <tr>
          @for (column of tableColumns; track column.key) {
            <th [ngClass]="{active: sortBy === column.key}" (click)="updateSort(column.key)">
              {{ column.label }}
              <fa-icon [icon]="getSortIcon(column.key, (sortDescending | async) === true)"></fa-icon>
            </th>
          }
        </tr>
      }

    </thead>
    <tbody>
      @for (exhibition of exhibitions | async; track exhibition.id) {
        <tr (click)="onExhibitionClick(exhibition.id)">
          <td>{{ exhibition.id }}</td>
          <td>{{ exhibition.title }}</td>
          <td>
            @if (exhibition.aic_start_at) {
              {{ exhibition.aic_start_at| date: 'shortDate' }}
            } @else {
              <span class="no-date">n/a</span>
            }
          </td>
          <td>
            @if (exhibition.aic_end_at) {
              {{ exhibition.aic_end_at | date: 'shortDate' }}
            } @else {
              <span class="no-date">n/a</span>
            }
          </td>
          <td>{{ exhibition.status }}</td>
        </tr>
      }
      @if (isLoading | async) {
        <app-exhibitions-table-skeleton></app-exhibitions-table-skeleton>
      }
    </tbody>
  </table>
  <button class="load-more" (click)="loadMoreExhibitions()" [disabled]="isLoading | async">{{ (isLoading | async) ? 'Loading' : 'Load more' }}</button>
