/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

body {
  font-family: "Commissioner", sans-serif;
  margin: 0;
  padding: 24px;
  background-color: #f4f4f4;
}
